html {
  font-family: sans-serif;
  background:#ffc600;
}

.checkbox-container {
  padding: 25px;
}

.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions p {
  max-width: 600px;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.inbox {
  max-width:400px;
  margin: 25px auto;
  background:white;
  border-radius:5px;
  box-shadow:10px 10px 0 rgba(0,0,0,0.1);
}

.item {
  display:flex;
  align-items:center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom:0;
}

.check-all {
  margin: 6.5px;
  padding: 0;
  border: 0;
  background: transparent;
}

.check-all i {
  font-size: 40px;
  width: 40px;
  height: 40px;
  color: #5cb85c;
}

.check-all i:hover {
  cursor: pointer;
  color: #449d44;
}

.check-all.uncheck i {
  color: #D9534F;
}

.check-all.uncheck i:hover {
  color: #C9302C;
}

input:checked + p {
  background:#F9F9F9;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin:20px;
}

.inbox p {
  margin:0;
  padding:20px;
  transition:background 0.2s;
  flex:1;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #D1E2FF;
}
