html,
body {
	margin: 0;
}

body {
	--webkit-gradient: -webkit-linear-gradient(left, red, orange , yellow, green, cyan, blue, violet);
	--opera-gradient: -o-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
	--mozilla-gradient: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
	--standard-gradient: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
}

.canvas-container {
	position: relative;
	padding: 25px;
	text-align: center;
}

.gradient-button {
	background: var(--webkit-gradient);
	background: var(--opera-gradient);
	background: var(--mozilla-gradient);
	background: var(--standard-gradient);
	color: white;
	text-shadow: 3px 3px 3px #000000;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 25px;
	margin: 0 5px;
	border-radius: 8px;
	border: 3px solid white;
}

.gradient-button:hover {
	cursor: pointer;
	opacity: 0.75;
}

.button {
	background: white;
	border: 3px solid transparent;
	border-image-slice: 1;
	border-image-source: var(--webkit-gradient);
	border-image-source: var(--opera-gradient);
	border-image-source: var(--mozilla-gradient);
	border-image-source: var(--standard-gradient);
	border-radius: 8px;
	padding: 10px 25px;
	margin: 0 5px;
}

.button.active {
	background: var(--webkit-gradient);
	background: var(--opera-gradient);
	background: var(--mozilla-gradient);
	background: var(--standard-gradient);
	color: white;
	text-shadow: 3px 3px 3px #000;
}

.randomize-color,
.random {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 25px;
	margin: 15px 5px 0;
	border-radius: 8px;
}

.button svg {
	fill: black;
	-webkit-filter: drop-shadow( 3px 3px 3px #000);
	filter: drop-shadow( 3px 3px 3px #000);
}

.button.active svg  {
	fill: white;
	-webkit-filter: drop-shadow( 3px 3px 3px #000);
	filter: drop-shadow( 3px 3px 3px #000);
}

.button i {
	color: #000;
	font-size: 40px;
	width: 40px;
	height: 40px;
}

.button.active i {
	color: white;
	filter: drop-shadow( 3px 3px 3px #000);
}

.eraser.active i::after {
	opacity: 1;
	color: #E9BCB5;
}

.button:hover {
	cursor: pointer;
	opacity: 0.75;
}

header {
	background: red;
	background: var(--webkit-gradient);
	background: var(--opera-gradient);
	background: var(--mozilla-gradient);
	background: var(--standard-gradient);
	padding: 10px 0;
	position: relative;
}

header h1 {
	margin: 0;
	color: white;
}

header hr {
	border: 1px solid white;
	width: 33%;
	margin: 0 auto 10px;
}

.info {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}

.stroke-tools {
	margin: 15px 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.stroke-tools h2 {
	margin: 0;
	flex-basis: 100%;
}

.draw-erase-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.draw-erase-container .eraser {
	margin-bottom: 15px;
}

.color-selector-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
}

.color-selector-container input {
	margin-bottom: 15px;
}

canvas {
	border: 3px solid black;
	border-image-slice: 1;
	border-image-source: var(--webkit-gradient);
	border-image-source: var(--opera-gradient);
	border-image-source: var(--mozilla-gradient);
	border-image-source: var(--standard-gradient);
}

canvas:hover {
	cursor: pointer;
}